<h1>栄町</h1>
   <div class="center hero-unit">
<%= link_to image_tag("icon2.png",alt:"icon"),'http://google.com' %>

          <h1>歴史</h1>
            <h2>近世</h2>
                江戸時代、会津藩により周辺が治められていた時代、本町周辺に栄町という地名はなく、横道（よこどおり）、本丁など若松城（鶴ヶ城）下郭内の一部だった。特にこの中でも、本丁の通りは郭内で最も重要な通りとされ、士屋敷や役所などが多く存在していたとされる。本丁は追手側から本一之丁、本二之丁、本三之丁、本四之丁、五之丁、六之丁からなる東西六条の通りで、町域内には湯川の支流、車川が流れていたとされる。その後、戊辰戦争により現在の本町周辺は大きな被害を受けた。
            <h2>近代</h2>
                明治に入ると、江戸時代からの若松城下の町は再編され、本丁、米代、小田垣、横道、権現下郭に加えて、小田町、半兵衛町のそれぞれ各一部（加えて外小田垣を含むとも見られている）が合わさり、若松栄町となる。この町名は、前述のように戊辰戦争により周辺の地域が大きな被害を受けたため、以後栄えることを願い付けられたものされている[2]。また、1899年（明治32年）に町村制の施行により若松町内の町名となり、若松を冠しない栄町の町名となったほか、1889年（明治22年）には若松町の市制施行により若松市の町名となる。加えて、当町内には後に大町一之町に移転するまでの間、若松町役場が置かれていた。
            <h2>現代</h2>
                神明通りの開通（1944年（昭和19年））などを経て、1955年（昭和30年）に当時の若松市と高野村、一箕村、神指村、門田村、東山村、大戸村、湊村が合併、会津若松市となったことから、以後栄町は同市の町名となる。その後、1960年代には本町周辺などを含めた会津若松市の住居表示が実施される。これにより、現在の栄町のほか多数の町が誕生する。まず、1965年（昭和40年）に旧来の栄町の一部が、新たに栄町、中町、東栄町、西栄町、追手町、城東町、城南町、米代（米代一丁目、米代二丁目）、本町、山鹿町、湯川町、南花畑にそれぞれなったほか、一部が徒之町、新横町に編入される。次いで1966年（昭和41年）、一部が宮町、馬場町、宝町、花春町となる。そして1967年（昭和42年）、一部が城前となったほか、上六日町、大工町、馬場上一之町に加えて大町一之町、甲賀町の一部を編入する。その後、町域西部の神明通りを中心に商業が発達するが、近年は商店街の空洞化などが進んでいる。このため、中心市街地活性化を図る動きとして、神明通りなどにおけるテナントミックス事業、神明通りへのベンチの設置、イルミネーションの実施などが行われている。
</div>

